
.section {
  background: transparent;  
}



.bg-main {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity .8s ease;
  .loaded & {
    opacity: 1;
    transition-delay: 0.1s;
  }
 
	// .bg-main__bg
	&__bg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
    opacity: 0;
    &.bg-0,
    &.bg-1,
    &.bg-4 {
      .bg-main__image {
        filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
      }
    }

    &.bg-3,
    &.bg-9,
    &.bg-10,
    &.bg-11,
    &.bg-12,
    &.bg-13,
    &.bg-14, 
    &.bg-15,
    &.bg-16 {
      .bg-main__image {
        filter: invert(72%) sepia(11%) saturate(1700%) hue-rotate(11deg) brightness(89%) contrast(78%);
      }
    }

    &.bg-5,
    &.bg-6 {
      .bg-main__image {
        filter: invert(26%) sepia(22%) saturate(782%) hue-rotate(174deg) brightness(97%) contrast(87%);
      }
    }

    &.bg-17,
    &.bg-18,
    &.bg-19,
    &.bg-20 {
      .bg-main__image {
        opacity: .1;
        filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(57deg) brightness(103%) contrast(103%);
      }
    }
    

    &.bg-0 {
      background: $blue-1;
      .fp-section-0 &,
      .popup-21 & {
        opacity: 1;
        z-index: 3;
      }
      .popup-25 &,
      .popup-26 &,
      .popup-27 &,
      .popup-28 &,
      .terms-page & {
        opacity: 0;
      }
    }
    &.bg-1 {
      background: $blue-2;
      .fp-section-1 & {
        opacity: 1;
      }
    }
    &.bg-2 {
      background: $green-1;
      .fp-section-2 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(16%) sepia(93%) saturate(2332%) hue-rotate(169deg) brightness(101%) contrast(99%);
      }
    }
    &.bg-3 {
      background: $red-1;
      .fp-section-3 &{
        opacity: 1;
      }
    }
    &.bg-4 {
      background: $purple;
      .fp-section-5 & {
        opacity: 1;
      }
    }
    &.bg-5 {
      background: $blue-3;
      .popup-1 & {
        opacity: 1;
      }
    }
    &.bg-6 {
      background: $blue-4;
      .popup-3 &,
      .popup-4 &,
      .popup-13 & {
        opacity: 1;
      }
    }
    &.bg-7 {
      background: $green-2;
      .popup-6 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(21%) sepia(15%) saturate(5971%) hue-rotate(105deg) brightness(96%) contrast(99%);
      }
    }
    &.bg-8 {
      background: $green-3;
      .popup-7 &,
      .popup-8 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(26%) sepia(97%) saturate(643%) hue-rotate(125deg) brightness(91%) contrast(98%);
      }
    }
    &.bg-9 {
      background: $red-2;
      .fp-section-4 &,
      .popup-10 & {
        opacity: 1;
      }
    }
    &.bg-10 {
      background: linear-gradient(180.00deg, rgb(148, 19, 10),rgb(252, 76, 2) 100%);
      .popup-15 & {
        opacity: 1;
      }
    }
    &.bg-11 {
      background: linear-gradient(180.00deg, rgb(97, 4, 146),rgb(158, 98, 190) 100%);
      .popup-16 & {
        opacity: 1;
      }
    }
    &.bg-12 {
      background: linear-gradient(180.00deg, rgb(176, 56, 67),rgb(252, 99, 113) 100%);
      .popup-17 & {
        opacity: 1;
      }
    }
    &.bg-13 {
      background: linear-gradient(180.00deg, rgb(108, 78, 22),rgb(142, 119, 77) 100%);
      .popup-18 &,
      .popup-24 & {
        opacity: 1;
      }
    }
    &.bg-14 {
      background: linear-gradient(180.00deg, rgb(108, 1, 34),rgb(190, 18, 71) 100%);
      .popup-19 & {
        opacity: 1;
      }
    }
    &.bg-15 {
      background: linear-gradient(180deg, #70002b 0%, #ca4f81 100%);
      .popup-22 & {
        opacity: 1;
      }
    }
    &.bg-16 {
      background: linear-gradient(180deg, #400b21 0%, #910a43 100%);
      .popup-23 & {
        opacity: 1;
      }
    }
    &.bg-17 {
      background: linear-gradient(180deg, #2A1B48 0%, #BE7297 100%);
      .popup-25 & {
        opacity: 1;
      }
    }
    &.bg-18 {
      background: linear-gradient(180deg, #045B31 0%, #AEA700 100%);
      .popup-26 & {
        opacity: 1;
      }
    }
    &.bg-19 {
      background: linear-gradient(180deg, #003E47 0%, #4FA046 100%);
      .popup-27 &,
      .terms-page & {
        opacity: 1;
      }
    }
    &.bg-20 {
      background: linear-gradient(180deg, #65190F 0%, #FF9063 100%);
      .popup-28 & {
        opacity: 1;
      }
    }
	}
  // .bg-main__image
  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    @media (max-width:toEm(1100.98)) and (min-width:toEm(600.98)) {
       width: 150%;
       left: -30%; 
    }
  }

}

.menu-hero {
    position: fixed;
    z-index: 160;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;
    .fp-section-0 & {
      opacity: 1;
      transition-delay: .3s;
    }
    .terms-page & {
      opacity: 1;
      @media (max-width:$mobileSmall){
        // background:#003E47;
        // background:#4FA046;
        background-image: linear-gradient(90deg, #003E47 0%, #4FA046 100%);

      }
    }
  @media (max-width: toEm(1300.98)){
      display: none;
      .terms-page & {
        display: block
      }
  }
  // .menu-hero__nav
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 toRem(27);
    opacity: 0;
    transition: opacity .3s ease;
    .terms-page & {
      @media (max-width:$mobileSmall){
        margin: 0;
        justify-content: center;
      }
    }
    .loaded & {
      opacity: 1;
      transition-delay: 1.5s;
    }
    @include adaptiveValue("height", 103, 75, 0, 1920, 1440);
    @include adaptiveValue("padding-right", 44, 22, 0, 1920, 1440);
  }
		// .menu-hero__list
		&__list {
        display: flex;
        align-items: center;
      @include adaptiveValue("column-gap", 18, 8,0,1920,1440);
		}
		// .menu-hero__item
		&__item {
      .fp-section-0 &,
      .terms-page & {
        pointer-events: all;
      }
		}
		// .menu-hero__link
		&__link {
        padding: toRem(7) toRem(30);
        font-weight: 500;
        line-height: 1.3;
        position: relative;
        text-transform: uppercase;
        text-wrap: nowrap;
        
        border-radius: toRem(100);
        border: toRem(2) solid transparent;
        
        background-image: linear-gradient(49deg, #F9F4BF 20%, #BA9B57 100%, #F9C46E 56%, #F0B963 44%, #F9F3BB 18%, #C1A059 45%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        .terms-page & {
          @media (max-width:$mobileSmall){
            font-size: toRem(16) !important;
          }
        }
      @include adaptiveValue("font-size", 25, 18,0,1920,1440);
      
      
      @media (min-width:toEm(1300.98)){
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 100px;
          padding: 2px;
          background: linear-gradient(49deg, #F9F4BF 20%, #BA9B57 100%, #F9C46E 56%, #F0B963 44%, #F9F3BB 18%, #C1A059 45%);
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          opacity: 0;
          transition: opacity .3s ease;
        }
      }
      @media (any-hover: hover){
        &:hover{
          &::before {
            opacity: 1;
          }
        }
      }

      @media (max-width: toEm(1440.98)){
        padding: toRem(7) toRem(25);
      }
		}
}

.stars {
  // .stars__img
  &__img {
    img {
      height: auto;
    } 
  }
}

.star-width-1 {
  img {
    width: toRem(8.5);
  }
}
.star-width-2 {
  img {
    width: toRem(14.2);
  }
}
.star-width-3 {
  img {
    width: toRem(13.77);
  }
}
.star-width-4 {
  img {
    width: toRem(19.6);
  }
}
.star-width-5 {
  img {
    width: toRem(24.85);
  }
}




.btn {
  // .btn_black
  &_black {
    border-color: #240955; 
    background: #240955;
    @media (any-hover: hover){
      &:hover{
        background: transparent;
        color: #240955;
        border-color: #240955; 
      }
    }
  }
  // .btn_green
  &_green {
    border-color: #01515A; 
    background: #01515A;
    @media (any-hover: hover){
      &:hover{
        background: transparent;
        color: #01515A;
        border-color: #01515A; 
      }
    }
  }
  // .btn_fruit
  &_fruit {
    border-color: #740B42; 
    background: #740B42;
    @media (any-hover: hover){
      &:hover{
        background: transparent;
        color: #740B42;
        border-color: #740B42; 
      }
    }
  }
  // .btn_conctr
  &_conctr {
    border-color: #880800; 
    background: #880800;
    @media (any-hover: hover){
      &:hover{
        background: transparent;
        color: #880800;
        border-color: #880800; 
      }
    }
  }
}

.title-wrapper {
  opacity: 0;
  transition: opacity .7s ease;
  span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &.first__title-wrap {
    .fp-section-1 &,
    .fp-section-2 &,
    .fp-section-3 &,
    .fp-section-4 & {
      opacity: 1;
      transition-delay: .3s;
    }
  }
  &.second__title-wrap {
    .fp-section-2 &,
    .fp-section-3 &,
    .fp-section-4 & {
      opacity: 1;
      transition-delay: .3s;
    }
  }
  &.third__title-wrap {
    .fp-section-3 &,
    .fp-section-4 & {
      opacity: 1;
      transition-delay: .3s;
    }
  }
  &.five__title-wrap {
    .fp-section-4 &,
    .fp-section-5 & {
      opacity: 1;
      transition-delay: .3s;
    }
  }

  .popup-show & {
    opacity: 0 !important;
    transition: opacity .3s ease !important;
  }
  // .title-wrapper__img 
  &__img {
    height: auto;
    &.second__title-img,
    &.first__title-img {
      @include adaptiveValue("width", 469, 330,2,1920,1440.98);
      @include adaptiveValue("width", 330, 290,3,1440.98,360);
    }
    &.third__title-img,
    &.five__title-img {
      @include adaptiveValue("width", 811, 600,2,1920,1440.98);
      @include adaptiveValue("width", 600, 290,3,1440.98,360);
    }
  }
}

// === SWIPERS ==================================================
.swiper {

  overflow: hidden;
  padding: 0 toRem(20);
  position: relative;
  opacity: 0;
  transition: opacity .3s ease;

  max-width: toRem(1400);
  margin: 0 auto;

  &.first__slider {
    .fp-section-1 &,
    .fp-section-2 &,
    .fp-section-3 &,
    .fp-section-4 & {
        opacity: 1;
        transition-delay: .5s;
    }
  }
  &.second__slider {
    .fp-section-2 &,
    .fp-section-3 &,
    .fp-section-4 & {
        opacity: 1;
        transition-delay: .5s;
    }
  }
  &.third__slider {
    .fp-section-3 &,
    .fp-section-4 & {
        opacity: 1;
        transition-delay: .5s;
    }
  }
  &.five__slider {
    .fp-section-4 &,
    .fp-section-5 & {
        opacity: 1;
        transition-delay: .5s;
    }
  }
  &.promo__slider {
    .loaded & {
      opacity: 1;
      transition-delay: .5s;
    }
  }

  
  // .swiper__wrapper
  &__wrapper {
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      display: flex;
      position: relative;
      transition: all .45s ease;
    .popup-show & {
      opacity: 0;
    }
    .popup-more & {
      opacity: 1;
    }
  }
  // .swiper__slide
  &__slide {
    display: flex;
    justify-content: center;

    &.first__slide {
      .fp-section-1 &,
      .fp-section-2 &,
      .fp-section-3 &,
      .fp-section-4 & {
        @extend %animPackScroll;
      }
	  }
    &.second__slide {
      .fp-section-2 &,
      .fp-section-3 &,
      .fp-section-4 & {
        @extend %animPackScroll;
      }
	  }
    &.third__slide {
      .fp-section-3 &,
      .fp-section-4 & {
       @extend %animPackScroll;
      }
	  }
    &.five__slide {
      .fp-section-4 &,
      .fp-section-5 & {
       @extend %animPackScroll;
      }
	  }
    &.promo__slide {
      .loaded & {
       @extend %animPackScroll;
      }
	  }

    @media (min-width:toEm(900.90)){
      opacity: 0;
      transition: opacity .6s cubic-bezier(.46,1.45,.64,1.02), transform .6s cubic-bezier(.46,1.45,.64,1.02);
      // transition: all .6s cubic-bezier(.46,1.45,.64,1.02);
      transform: translateY(50%);
    }
  }
  // .swiper__button
  &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      padding: 0 toRem(20);
      pointer-events: none;

      transition: opacity .45s ease;
      .popup-show & {
        opacity: 0;
      }
  }
}

%animPackScroll {
  transform: translateY(0);
  opacity: 1;
  &:nth-child(1) {
    transition-delay: 0.3s;
  }
  &:nth-child(2) {
    transition-delay: 0.35s;
  }
  &:nth-child(3) {
    transition-delay: 0.5s;
  }
  &:nth-child(4) {
    transition-delay: 0.6s;
  }
  &:nth-child(5) {
    transition-delay: 0.7s;
  }
  &:nth-child(6) {
    transition-delay: 0.8s;
  }
  &:nth-child(7) {
    transition-delay: 0.9s;
  }
  &:nth-child(7) {
    transition-delay: 1s;
  }
}

.swiper-button {
  width: toRem(45);
  height: toRem(45);
  border-radius: 50%;
  border: toRem(0.47) solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;

  &.swiper-button-prev {
    padding-right: 3px;
  }
  &.swiper-button-next {
    padding-left: 3px;
      img {
        transform: scaleX(-1);
      }
  }
  &.swiper-button-disabled {
    opacity: 0.5;
  }
}

.swiper-initialized {
	touch-action: pan-y;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}


// == TYPE OF PACK ==============================================
#pack-25,
#pack-26,
#pack-27,
#pack-28 {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-61%);
      z-index: -1;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @media (min-width:toEm(1440.98)){
        width: 110%;        
      }
      @media (max-width:toEm(1440.98)){
        width: 95%;
      }
      @media (max-width:$mobile){
         width: 150%; 
      }
    }
    .pack__footer {
      @media (max-width:$mobileSmall){
         margin-top: toRem(20) !important; 
      }
      @media (max-width:$mobileXS){
         margin-top: toRem(10) !important; 
      }
    }
    .pack__img-link {
      @media (max-width:$mobileSmall){
        max-width: toRem(150) !important;
      }
      @media (max-width:$mobileXS){
        max-width: toRem(130) !important;
      }
    }
  }
  #pack-25 {
    &::before {
      background-image: url('../img/blur/ellipse-25.png');
    }
  }
  #pack-26 {
    &::before {
      background-image: url('../img/blur/ellipse-26.png');
    }
  }
  #pack-27 {
    &::before {
      background-image: url('../img/blur/ellipse-27.png');
    }
  }
  #pack-28 {
    &::before {
      background-image: url('../img/blur/ellipse-28.png');
    }
  }

  .pack {
  @media (min-height: toEm(1100.98)){
   flex: 1;   
   display: flex;
   align-items:center;  
  }
	// .pack__wrapper
	&__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    @media (max-height: toEm(1100.98)){
      justify-content: space-between;
    }

	}
	// .pack__title
	&__title {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("margin-top", 147, 100,0,1920,1440);
    @include adaptiveValue("margin-bottom", 46, 10,0,1920,1440);
    &.third__title {
      margin-bottom: 0 !important;
      @media (max-width:$mobile){
         margin-bottom: toRem(10); 
      }
    }
	}
  // .pack__item
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: toRem(40);

    @media (min-width:toEm(900.98)){
      pointer-events: none;
      .swiper-slide-next & {
        pointer-events: all;
          .pack__img-link {
            transform: scale(1.2);
          }
          .pack__circle {
            opacity: 1;
            transition-delay: .3s;
          }
          .pack__btn {
            opacity: 1;
            transition-delay: .3s;
            transform: translateY(0);
          }
          .pack__radial {
            opacity: 1;
            transform: translate(-50%,-40%) scale(1);
            transition-delay: .45s;
          }
      }
    }
    @media (max-width:toEm(900.98)){
      max-width: toRem(280);
      .swiper-slide-active & {
        .pack__img-link {
          transform: scale(1.2);
        }
        .pack__circle {
          opacity: 1;
          transition-delay: .3s;
        }
        .pack__btn {
          opacity: 1;
          transition-delay: .3s;
        }
        .pack__radial {
          opacity: 1;
          transform: translate(-50%,-40%) scale(1);
          transition-delay: .45s;
        }
      }
    }
   
    // @media (max-width:$mobileSmall){
    //    padding-bottom: toRem(90); 
    // }
  }
  // .pack__img-wrp
  &__img-wrp {
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    align-items: center;
    @include adaptiveValue("padding-top", 55, 30,0,1920,1024);
    @include adaptiveValue("padding-bottom", 55, 30,0,1920,1024);
  }
	// .pack__img-link
	&__img-link {
    display: block;
    width: 100%;
    transition: transform .3s;
    @include adaptiveValue("max-width", 200,160,2,1920,1440.98);
    @include adaptiveValue("max-width", 160,130,3,1440.98,1024);
    @media (max-width: toEm(900.98)){
        max-width: toRem(170) !important;
        transition: transform .5s ease 0.4s;
    }
	}
  // .pack__img
  &__img {
    width: 100%;
    height: auto;
  }
  // .pack__circle
  &__circle {
    position: absolute;
    bottom: 20%;
    left: 5%;
    z-index: 3;
    transition: opacity .3s;
    opacity: 0;
    @media (max-width: toEm(1100.98)){
      left: -10%;
      bottom: 25%;
      transition: opacity .45s;
    }
  }
  // .pack__footer
  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: toRem(14);
    position: relative;
    @media (max-width:$mobileSmall){
        margin-top: toRem(37);
    }        
  }
  // .pack__btn
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    width: toRem(160);
    height: toRem(44);

    border: toRem(1) solid transparent;

    color: #FFF;
    font-size: toRem(15);
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    
    opacity: 0;
    @media (min-width:toEm(900.98)){
      transform: translateY(50%);
      transition: all .3s ease;
    }
    @media (max-width: toEm(900.98)){
        transform: translateY(0);
        transition: all .45s ease;
    }
  }
  // .pack__radial
  &__radial {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%) scale(.85);
    border-radius: 50%;
    background-image: radial-gradient(47.74% 47.74% at 50% 50%, #FFF7D4 0%, #B3A155 100%);
    
    transition:  opacity .3s ease, transform .3s ease;
    opacity: 0;
    @include adaptiveValue("width", 493, 370,0,1920,1440);
    @include adaptiveValue("height", 493, 370,0,1920,1440);
    @media (max-width: toEm(900.98)) {
        width: toRem(493) !important;
        height: toRem(493) !important;
    }
  }
}

.circle {
  // .circle__link
  &__link {
    display: block;
    position: relative;
    border-radius: 50%;
    transition: transform .3s ease;
    transform-origin: center;
    &:hover {
      transform: scale(1.05);
    }
    
    &.link-big {
      @include adaptiveValue("width", 242, 180,2,1920,1440.98);
      @include adaptiveValue("width", 180, 141,3,1440.98,480);
      @include adaptiveValue("height", 242, 180,2,1920,1440.98);
      @include adaptiveValue("height", 180, 141,3,1440.98,480);
      
      @include adaptiveValue("padding", 38, 28,2,1920,1440.98);
      @include adaptiveValue("padding", 28, 20,3,1440.98,480);
  
    }
    &.link-sm {
      width: toRem(154);
      height: toRem(154);
      padding: toRem(23);
    }
  }
  // .circle__body
  &__body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 37% 16% 0% 29%;
    pointer-events: none;
    background-image: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #F9F8F2 47.4%, #B3A155 100%);
    filter: drop-shadow(-2.9px 3.6px 11px rgba(0, 0, 0, 0.27));
  }
  // .circle__img
  &__img {
    transform: rotate(-21deg);
    width: 100%;
    height: auto;
  }
  // .circle__txt
  &__txt {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 100%;
    height: auto;
    animation: circle-anim 10s linear 0.2s infinite normal;
  }
}
@keyframes circle-anim {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


// POPUP ======================================
// ====================
.popup {
	z-index: 150;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.1s linear ;
	visibility: hidden;
	pointer-events: none;
	&.popup_show {
		visibility: visible;
		overflow: auto;
		pointer-events: all;

    .popup__title {
      opacity: 1;
      transform: translateY(0%);
      img {
      }
    }
    .popup__name {
      opacity: 1;
      transform: translateY(0%);
    }
    .popup__subtitle {
      opacity: 1;
      transform: translateY(0%);
    }
    .popup__name-icon {
      opacity: 1;
      @media (max-width:$mobile){
        transform: translateY(0); 
      }
    }
    .popup__body {
      opacity: 1;
    }
    .info-popup__txt {
      opacity: 1;
    }
    .popup__images {
      opacity: 1;
      @media (max-width:$mobile){
         transform: translateY(0); 
      }
    }
    .info-popup__images {
      opacity: 1;
      transform: translateX(0);
    }
    .info-popup__link {
      opacity: 1;
      transform: translateY(0);
    }
    .composition__body {
      opacity: 1;
      transform: translateY(0);
    }
    .popup__close {
      opacity: 1;
    }
	}
	// .popup__wrapper
	&__wrapper {
		position: relative;
		z-index: 10;
		display: flex;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		overflow: hidden;
	}
	// .popup__content
	&__content {
		visibility: hidden;
    flex: 1;
		opacity: 0;
		transition: all 0.1s linear 0s;
		padding: 0 toRem(20) toRem(20);
		width: 100%;
    display: flex;
    justify-content: center;

    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 &  {
      align-items: center;
      @media (min-width:toEm(1300.98)){
        padding: toRem(50) toRem(20);
      }
      @media (max-width:toEm(1300.98)) and (min-width:$mobileSmall) {
        padding: toRem(120) toRem(20) toRem(20);
      }
      @media (max-width:$mobileSmall){
        padding: toRem(100) toRem(20) toRem(20);
      }
    }

    .popup_show & {
			visibility: visible;
			opacity: 1;
		}
		.lock & {
			visibility: visible;
		}
	}
	// .popup__close
	&__close {
    position: absolute;
    top: 0;
    left: toRem(60);
    z-index: 5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: toRem(0.64) solid #FFF;
    padding-right: toRem(4);
    
    opacity: 0;
    transition: opacity .6s ease .95s;
    
    @include adaptiveValue("width", 65, 45,0,1920,480);
    @include adaptiveValue("height", 65, 45,0,1920,480);
    img {
      @include adaptiveValue("height", 30, 20,0,1920,480);
    }
    @media (max-width:$tablet){
      left: toRem(30);
    }
    @media (max-width:$mobile){
       top: 150px; 
       left: 0;
    }
	}
  // .popup__container
  &__container {
    max-width: toRem(1331);
    padding: 0 !important;
  }
  // .popup__title
  &__title {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity .8s ease 0s, transform .8s ease 0s;
    @include adaptiveValue("margin-top", 147, 100,0,1920,1440);
    @include adaptiveValue("margin-bottom", 64, 48,2,1920,1440.98);
    @include adaptiveValue("margin-bottom", 48, 10,3,1440.98,480);
    img {
      @include adaptiveValue("width", 469, 330,0,1920,1440);
      @include adaptiveValue("width", 330, 290,3,480,360);
    }
    // .popup__title_fruit
    &_fruit {
      img {
        @include adaptiveValue("width", 811, 600,0,1920,1440);
        @include adaptiveValue("width", 600, 290,3,768,360);
      }
    }
    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 &  {
      display: none;
    }
  }
  // .popup__main
  &__main {
    position: relative;
  }
  // .popup__head
  &__head {
    @include adaptiveValue("margin-bottom", 14, 21,0,1920,480);
  }
  // .popup__head-body
  &__head-body {
    display: flex;
    margin-left: toRem(470);
    @media (max-width:$tablet){
      margin-left: toRem(400);
    }
    @media (max-width:$mobile){
       margin-left: unset;
       justify-content: center; 
    }
    @media (max-width:$mobileSmall){
      flex-direction: column;
    }
  }
  // .popup__head-wr
  &__head-wr {
    @media (max-width:$mobileSmall){
        display: flex;
        margin-bottom: toRem(8);
    }
  }
  // .popup__name
  &__name {
    color: #FFF;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    
    opacity: 0;
    transform: translateY(100%);
    transition: opacity .8s ease 0.15s, transform .8s ease 0.15s;
    @include adaptiveValue("font-size", 50, 38,2,1920,1440.98);
    @include adaptiveValue("font-size", 38, 24,3,1440.98,480);
    // .popup-20 &,
    // .popup-21 &,
    // .popup-22 &,
    // .popup-23 &,
    // .popup-24 & {
    //   @media (max-width: toEm(480.98)){
    //       font-size: toRem(22) !important;
    //   }
    // }
  }
  // .popup__name-icon
  &__name-icon {
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 1s ease 0.4s, transform 1s ease 0.4s;
    @include adaptiveValue("margin-left", 27, 10,0,1920,480);
    @include adaptiveValue("width", 88, 66,2,1920,1440.98);
    @include adaptiveValue("width", 66, 34,3,1440.98,480);
    @include adaptiveValue("height", 88, 66,2,1920,1440.98);
    @include adaptiveValue("height", 66, 34,3,1440.98,480);
    @media (max-width:$mobile){
      transform: translateY(100%);
      transition: opacity .8s ease 0.15s, transform .8s ease 0.15s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .popup__subtitle
  &__subtitle {
    color: #FFF;
    font-weight: 500;
    line-height: 1.3;
    
    opacity: 0;
    transform: translateY(50%);
    transition: opacity .8s ease 0.3s, transform .8s ease 0.3s;
    @include adaptiveValue("font-size", 20, 15,0,1920,480);
    .popup-15 &,
    .popup-16 &,
    .popup-17 &,
    .popup-18 &,
    .popup-19 & {
      max-width: toRem(580);
    }
    .popup-20 &,
    .popup-21 &,
    .popup-22 &,
    .popup-23 &,
    .popup-24 & {
      display: none;
    }

    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 & {
      @media (min-width: toEm(1250.98)){
         max-width: 80%; 
      }
    }
  }
	// .popup__body
	&__body {
    display: grid;
    grid-template-columns: auto 1fr;

    opacity: 0;
    transition: opacity .6s ease 0.3s;
    
    @include adaptiveValue("margin-bottom", 16, 20);
    @media (max-width:$tablet){
      border-radius: toRem(60);
    }
    @media (max-width:$mobile){
        grid-template-columns: 1fr;
      }
    @media (min-width:$mobile){
      min-height: toRem(281);
      border-radius: toRem(100);
      background-image: radial-gradient(circle 480px, #FFF 0%, #B3A155 100%);
    }
	}
  // .popup__images
  &__images {
    width: toRem(470);
    height: 100%;
    position: relative;
    z-index: 2;

    opacity: 0;
    transition: opacity .6s ease 0.65s;

    @media (max-width:$tablet){
     width: toRem(400);
    }
    @media (max-width:$mobile){
       width: 100%; 
       display: flex;
       justify-content: center;
       transform: translateY(10%);
       transition-delay: 0.35s;
    }
    img {
      position: relative;
      z-index: 1;
    }
  }
	// .popup__images-wr-v
	&__images-wr-v {
    position: absolute;
    right: toRem(56);
    bottom: toRem(-77);

    @media (max-width: toEm(1100.98)) and (min-width:$mobile) {
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 97%;
      height: 100%;
      z-index: 0;
      box-shadow: -5px 8px 24px 0px rgba(0, 0, 0, 0.28);
      .popup-4 &,
      .popup-8 & {
        height: 90%;
        border-radius: 30px;
      }
      .popup-25 &,
      .popup-26 &,
      .popup-27 &,
      .popup-28 &  {
        display: none;  
      }
    }
    .popup-4 &,
    .popup-8 &,
    .popup-20 &,
    .popup-21 &,
    .popup-22 &,
    .popup-23 &,
    .popup-24 & {
      right: toRem(25);
      bottom: toRem(-20);
      @media (max-width:toEm(1100.98)){
        bottom: unset;
      }
      @media (max-width:$mobile){
       right: unset;
      }
    }
    .popup-20 &,
    .popup-21 &,
    .popup-22 &,
    .popup-23 &,
    .popup-24 & {
      @media (max-width:$mobile) and (min-width:$mobileSmall){
        max-width: 45%; 
      }
    }
    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 &  {
      width: toRem(300);
      // @include adaptiveValue("width", 300, 300,0,1920,1440.98);
      @media (min-width:toEm(1100.98)){
        bottom: 50%;
        transform: translateY(50%);
      }
      @media (min-width:$mobile){
        right: toRem(25);
      }
    }
    .popup-1 &,
    .popup-2 &,
    .popup-3 &,
    .popup-4 &,
    .popup-5 &,
    .popup-6 &,
    .popup-7 &,
    .popup-8 &,
    .popup-9 &,
    .popup-10 &,
    .popup-11 &,
    .popup-12 &,
    .popup-13 &,
    .popup-14 &,
    .popup-15 &,
    .popup-16 &,
    .popup-17 &,
    .popup-18 &,
    .popup-19 &,
    .popup-20 &,
    .popup-21 &,
    .popup-22 &,
    .popup-23 &,
    .popup-24 &  {
      @include adaptiveValue("width", 247, 230,0,1440,992);
      @media (max-width:$mobile){
        width: 100% !important; 
      }
    }
    @media (max-width:$mobile){
        position: relative;
       top: unset;
       right: unset;
       bottom : unset;
       width: fit-content; 
       max-width: 60%;
       transform: translateY(0);
      .popup-1 &,
      .popup-2 &,
      .popup-3 &,
      .popup-5 &,
      .popup-6 &,
      .popup-7 &,
      .popup-9 &,
      .popup-10 &,
      .popup-11 &,
      .popup-12 &,
      .popup-13 &,
      .popup-14 &,
      .popup-15 &,
      .popup-16 &,
      .popup-17 &,
      .popup-18 &,
      .popup-19 &  {
        display: none; 
      }
    }
   
	}
	// .popup__images-wr-h
	&__images-wr-h {
    position: absolute;
    z-index: 2;
    right: toRem(25);
    top: 50%;
// 4 8 20 21 22 23 24
    .popup-4 &,
    .popup-8 &,
    .popup-20 &,
    .popup-21 &,
    .popup-22 &,
    .popup-23 &,
    .popup-24 &,
    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 &  {
      display: none; 
    }

    @include adaptiveValue("min-height", 206,138,3,480.98,320);
    @include adaptiveValue("width", 530, 445,0,1440,992);
    @media (max-width:$mobile){
       width: 100% !important; 
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50px;
      width: 100%;
      height: 87%;
      z-index: 0;
      box-shadow: -6px -15px 32px 7px rgba(0, 0, 0, 0.25);
      @media (max-width:$mobile){
         height: 83%; 
      }
     
    }
    @media (max-width:$mobile){
       position: relative;
       top: unset;
       right: unset;
       width: fit-content; 
       max-width: 80%;
    }
    @media (max-width:$mobileSmall){
       max-width: 90%; 
    }
  }
  // .popup__img-vert
  &__img-vert {
    height: auto;
    width: 100%;
  //   @include adaptiveValue("width", 247, 230,0,1440,992);
  //   @media (max-width:$mobile){
  //     width: 100% !important; 
  //  }
  }
  // .popup__img-horz
  &__img-horz {
    height: auto;
    width: 100%;
    // @include adaptiveValue("width", 530, 445,0,1440,992);
    // @media (max-width:$mobile){
    //    width: 100% !important; 
    // }
  }
  // .popup__info
  &__info {
  }
  // .popup__composition
  &__composition {
  }
}

.info-popup {
  position: relative;
  padding: toRem(20) 0 toRem(25);
  display: flex;
  flex-direction: column;
  @media (max-width:$mobile){
    margin-top: toRem(-28);
    padding: toRem(46) toRem(22) toRem(22);
    border-radius: 30px;
    background: linear-gradient(94deg, #F9D4BF -12.53%, #FFFDEC 23.91%, #C1A059 96.94%), radial-gradient(559.01% 151.8% at 27.24% -38.23%, #FFF 0%, #B3A155 100%), #B3A155; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .info-popup__txt
  &__txt {
    position: relative;
    z-index: 1;
    flex: 1;
    font-weight: 500;
    line-height: 1.3;
    
    opacity: 0;
    transition: opacity .8s ease 0.35s;
    @include adaptiveValue("font-size", 17, 15,0,1920,480);
    @include adaptiveValue("margin-bottom", 32, 20,0,1920,480);

    .popup-1 &,
    .popup-2 &,
    .popup-3 &,
    .popup-4 &,
    .popup-11 &,
    .popup-12 &,
    .popup-13 &,
    .popup-14 &,
    .popup-15 &,
    .popup-16 & {
      width: 63%;
      @media (max-width:$tablet){
        width: 90%;
      }
      @media (max-width:$mobile){
         width: 100%; 
      }
    }
    .popup-5 &,
    .popup-6 &,
    .popup-7 &,
    .popup-8 &,
    .popup-9 &,
    .popup-10 &,
    .popup-17 &,
    .popup-18 &,
    .popup-19 & {
      width: 66%;
      @media (max-width:$tablet){
        width: 90%;
      }
      @media (max-width:$mobile){
         width: 100%; 
      }
    }

    .popup-20 &,
    .popup-21 &,
    .popup-22 &,
    .popup-23 &,
    .popup-24 & {
      @media (min-width:$mobile){
        width: 90%;
      }
      @media (max-width:$mobile){
         width: 100%; 
      }
    }
    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 & {
      @media (min-width:toEm(1250.98)){
        width: 66%;
      }
      @media (max-width:toEm(1250.98)) and (min-width:$mobile){
        width: 90%;
      }
      @media (max-width:$mobile){
         width: 100%; 
      }
    }
  }
  // .info-popup__link
  &__link {
    max-width: toRem(215);
    width: 100%;
    height: toRem(55);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: toRem(91);
    color: #FFF;
    font-size: toRem(23);
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    
    position: relative;
    z-index: 1;
    overflow: hidden;
    overflow: clip;

    opacity: 0;
    @media (min-width:$mobile){
      transform: translateY(100%);
      transition: opacity .4s ease 0.5s, transform .4s ease 0.5s;
    }
    @media (max-width:$mobile){
      transition: opacity 1s ease 0.55s, transform 1s ease 0.55s;
       transform: translateY(0);
    }
   

    &::before {
      content:'';
      position: absolute;
      z-index: 0;
      border-radius: toRem(91);
      width: 100%;
      height: 100%;
      .popup-1 & {
        background-image: radial-gradient(circle, #2F4056 53.13%, #162635 100%), radial-gradient(247.32% 92.14% at 50% 50%, #6E2FC8 0%, #2D056E 100%);
      }
      .popup-2 &,
      .popup-21 & {
        background-image: radial-gradient(circle, #6E2FC8 0%, #2D056E 100%);
      }
      .popup-3 &,
      .popup-4 &,
      .popup-11 &,
      .popup-12 &,
      .popup-13 & {
        background-image: radial-gradient(circle, #101639 0%, #2B3963 100%);
      }
      .popup-5 & {
        background-image: radial-gradient(circle, #005761 0%, #00343A 100%), radial-gradient(247.32% 92.14% at 50% 50%, #6E2FC8 0%, #2D056E 100%);
      }
      .popup-6 &,
      .popup-14 & {
        background: radial-gradient(circle, #004C13 0%, #002601 100%);
      }
      .popup-7 &,
      .popup-8 & {
        background-image: radial-gradient(circle, #005240 0%, #003120 100%), radial-gradient(753.62% 111.76% at 61.74% 8.18%, #004C13 0%, #002601 100%);
      }
      .popup-9 & {
        background-image: radial-gradient(circle, #910B4D 0%, #430C30 100%);
      }
      .popup-10 &,
      .popup-20 & {
        background-image: radial-gradient(circle, #BB251D 0%, #720B05 100%);
      }
      .popup-15 & {
        background-image: radial-gradient(circle,rgb(255, 15, 2),rgb(168, 27, 18) 100%);
      }
      .popup-16 & {
        background-image: radial-gradient(circle,rgb(181, 94, 228),rgb(88, 0, 136) 100%);
      }
      .popup-17 & {
        background-image: radial-gradient(circle,rgb(252, 99, 113),rgb(150, 44, 54) 100%);
      }
      .popup-18 &,
      .popup-24 &  {
        background-image: radial-gradient(circle,rgb(165, 136, 84),rgb(99, 75, 31) 100%);
      }
      .popup-19 & {
        background-image: radial-gradient(circle,rgb(187, 37, 29),rgb(114, 11, 5) 100%);
      } 
      .popup-22 & {
        background-image: radial-gradient(circle, #CA4F81 0%, #70002B 100%);
      } 
      .popup-23 & {
        background-image: radial-gradient(circle, #98044D 0%, #430C1D 100%);
      } 
      .popup-25 & {
        background-image: radial-gradient(circle, #563A8D 0%, #2A1B48 100%);
      } 
      .popup-26 & {
        background-image: radial-gradient(circle, #187035 0%, #104C24 100%);
      } 
      .popup-27 & {
        background-image: radial-gradient(circle, #007477 0%, #005052 100%);
      } 
      .popup-28 & {
        background-image: radial-gradient(circle, #774C46 0%, #4F312D 100%);
      } 
    }

    span {
      display: inline-block;
      z-index: 2;
    }

    @media (max-width:$mobileSmall){
       height: toRem(60); 
       max-width: 100%;
    }

  }
  // .info-popup__images
  &__images {
    @media (min-width:$tablet){
      position: absolute;
      z-index: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      height: 100%;
      
      opacity: 0;
      transition: opacity 1s ease 0.45s, transform 1s ease 0.45s;
    }
    @media (max-width:$tablet){
      display: none;
    }
    .popup-4 &,
    .popup-9 & {
      @include adaptiveValue("width", 496, 300,0,1440,768);
    }
    .popup-1 &,
    .popup-2 &,
    .popup-3 &,
    .popup-4 &,
    .popup-5 &,
    .popup-6 &,
    .popup-7 &,
    .popup-8 &,
    .popup-9 &,
    .popup-10 &,
    .popup-11 &,
    .popup-12 &,
    .popup-13 &,
    .popup-14 &,
    .popup-15 &,
    .popup-16 &,
    .popup-17 &,
    .popup-18 &,
    .popup-19 &,
    .popup-20 &,
    .popup-21 &,
    .popup-22 &,
    .popup-23 &,
    .popup-24 & {
      @include adaptiveValue("width", 369, 285,0,1440,768);
      @media (min-width:$tablet){
        transform: translateX(50%);
      }
    }
    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 & {
      @media (min-width:toEm(1250.98)){
        width: toRem(240);
      }
      @media (max-width: toEm(1250.98)){
          display: none;
      }
    }

    img {
      @media (min-width:$tablet){
        width: 100%;
        .popup-1 & {
          bottom: toRem(-10);
         }
         .popup-1 &,
         .popup-2 &,
         .popup-3 &,
         .popup-4 &,
         .popup-5 &,
         .popup-6 &,
         .popup-7 &,
         .popup-8 &,
         .popup-9 &,
         .popup-10 &,
         .popup-11 &,
         .popup-12 &,
         .popup-13 &,
         .popup-14 &,
         .popup-15 &,
         .popup-16 &,
         .popup-17 &,
         .popup-18 &,
         .popup-19 &,
         .popup-20 &,
         .popup-21 &,
         .popup-22 &,
         .popup-23 &,
         .popup-24 & {
            position: absolute;
            bottom: 0;
            right: 0;
            height: auto;
         }
         .popup-25 &,
         .popup-26 &,
         .popup-27 &,
         .popup-28 & {
            height: 100%;
            object-fit: contain;
         }
      }
    }
  }
}

.composition {
  @media (max-width:$mobile){
     display: flex;
     justify-content: center; 
  }
  // .composition__body
  &__body {
    margin-left: toRem(470);
    max-width: toRem(490);
    display: grid;
    grid-template-columns: 1fr 1fr;

    opacity: 0;
    transform: translateY(10%);
    transition: opacity .7s ease 0.65s, transform .7s ease 0.65s;

    .popup-25 &,
    .popup-26 &,
    .popup-27 &,
    .popup-28 & {
      max-width: toRem(520);
    }

    @include adaptiveValue("gap", 24, 20,0,1920,480);
    @media (max-width:$tablet){
      margin-left: toRem(400);
    }
    @media (max-width:$mobile){
      margin-left: unset;
   }
   @media (max-width:$mobileSmall){
     grid-template-columns: 1fr; 
   }
  }
  // .composition__block
  &__block {
  }
  // .composition__txt
  &__txt {
    color: #FFF;
    font-size: toRem(12);
    font-weight: 400;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
}


// popup-more - на Акционной странице Гроші в пачці
#popupMore {
  transition: visibility 0.8s linear ;
}
.popup-more {
  &.popup_show {
    .popup-more__wrapper {
      opacity: 1;
    }
  }
	// .popup-more__wrapper
	&__wrapper {
    opacity: 0;
    background-color: rgb(0,0,0,0.35);
    transition: opacity .8s ease;
	}
  // .popup-more__content
  &__content {
    align-items: center;
    transition: all 0.8s linear;
    @media (min-width:$mobileSmall){
      padding-top: toRem(90);
    }
    @media (max-width:$mobileSmall){
      padding-top: toRem(20);
    }
  }
  // .popup-more__body
  &__body {
    position: relative;
    background: linear-gradient(94deg, #F9D4BF -12.53%, #FFFDEC 23.91%, #C1A059 96.94%);
    max-width: toRem(630);
    height: fit-content;
    transform: translateY(50%);
    transition: transform .65s ease;
    @include adaptiveValue("border-radius", 40, 22);
    .popup_show & {
      transform: translateY(0%);
    }
  }
  // .popup-more__close
  &__close {
    position: absolute;
    top: toRem(15);
    right: toRem(15);
    width: toRem(30);
    height: toRem(30);
    opacity: .5;
    transition: opacity .3s ease;
    @media (any-hover: hover){
      &:hover{
        opacity: 1;
      }
    }
    
  }
  &__title,
  &__main {
   @include adaptiveValue("padding-left", 40, 30);
   @include adaptiveValue("padding-right", 40, 30);
  }
  // .popup-more__title
  &__title {
    font-weight: 700;
    line-height: 1.3;
    @include adaptiveValue("font-size", 38, 24);
    @include adaptiveValue("margin-bottom", 25, 15);
    @include adaptiveValue("padding-top", 40, 30);
  }
	// .popup-more__color
	&__color {
    margin-bottom: toRem(20);
	}
	// .popup-more__subtitle
	&__subtitle {
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
    align-content: center;
    padding-right: toRem(30);
    @include adaptiveValue("padding-left", 40, 30);
    @include adaptiveValue("font-size", 24, 20);
    @include adaptiveValue("min-height", 45, 35);
    &.txt-1{
      background-color: #E30614;
    }
    &.txt-2 {
      background-color: #009640;
    }
	}
	// .popup-more__main
	&__main {
    display: grid;
    @include adaptiveValue("padding-bottom", 40, 30);
    img {
      width: 100%;
      height: auto;
      @media (min-width:$mobileSmall){
        position: absolute;
        bottom: toRem(20);
        right: toRem(20);
        max-width: 50%;
      }
      @media (max-width:$mobileSmall){
          order: 1;
          margin-bottom: toRem(10);
          position: relative;
          left: 50%;
          transform: translate(-58%,0);
      }
    }
    @media (min-width:$mobileSmall){
      grid-template-columns: 55% auto;
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-items: center;
    }
	}
  // .popup-more__txt
  &__txt {
    font-weight: 500;
    line-height: 1.3;
    @include adaptiveValue("font-size", 18, 16);
    @media (max-width:$mobileSmall){
       order: 2; 
    }
  }
}
